<h1 class='my-8 mx-5 text-5xl'>This is all your todos</h1>

<div id='flash' class='my-8 mx-5 text-md border-solid border-1 border-black'>
  <%= render 'layouts/flash' %>
</div>

<%= link_to 'New list', new_list_path,
  data: {turbo_frame: dom_id(List.new)},
  class: 'text-lg border-solid border-2 border-black p-2 mx-5'
  %>

<%= turbo_frame_tag List.new %>

<%= turbo_frame_tag 'lists' do %>
  <%= render @lists %>
<% end %>